<div class="o-content-wrapper" *ngIf="recipe">
  <div class="o-centered">
    <div class="single-recipe">
      <div class="single-recipe__head">
        <div class="single-recipe__head__description">
          <h1 class="o-title o-title--underline">{{recipe.title ? recipe.title : 'Brak danych'}}</h1>
          <div class="single-recipe__details">
            <span class="single-recipe__details__rating single-recipe__details__item o-rating">
              <span>Ocena:</span>
              <ul>
                <li *ngFor="let star of stars">
                  <i class="fa"
                    [ngClass]="{
                      'fa-star': star == 2,
                      'fa-star-half-o': star == 1,
                      'fa-star-o': star == 0
                    }"></i>
                </li>
              </ul>
            </span>
            <span class="single-recipe__details__item">
              <span>Procent składników:</span>{{ getAvailableIngredientsRatio }}
            </span>
          </div>
        </div>
      </div>

      <div class="single-recipe__about">
        <div class="single-recipe__ingredients">
          <span>Składniki</span>
          <ul *ngIf="recipe.ingredientQuantities">
            <li *ngFor="let ingredientQuantity of recipe.ingredientQuantities"
              [ngClass]="{'missing': missing(ingredientQuantity) > 0}">
              <span>{{ingredientQuantity.ingredient.name}}</span>{{ingredientQuantity.quantity}}
              <ng-container *ngIf="missing(ingredientQuantity)">
                [-{{missing(ingredientQuantity)}}]
              </ng-container>
              ({{ingredientQuantity.ingredient.unit.name}})
            </li>
          </ul>
        </div>
        <div class="single-recipe__photo">
          <img src="{{recipe.imageUrl ? recipe.imageUrl : ''}}" alt="{{recipe.title}}">
        </div>
        <div class="single-recipe__description">
           {{ recipe.description ? recipe.description : 'Brak danych' }}
        </div>

        <div class="single-recipe__rate o-rating" *ngIf="loggedin">
          <span>Oceń przepis:</span>
          <ul [ngClass]="{'rated': rated}">
            <li *ngFor="let star of userRating; let i = index" aria-selected="true">
              <i class="fa" [ngClass]="{
                'fa-star': star == 2,
                'fa-star-half-o': star == 1,
                'fa-star-o': star == 0
              }" (click)="rate(i)"></i>
            </li>
          </ul>
        </div>
      </div>

      <div class="o-btn-wrapper single-recipe__btn-wrapper">
        <a class="o-btn o-btn--color" (click)="addNote()" *ngIf="loggedin">Dodaj notatkę</a>
        <a (click)="share()" class="o-btn" [ngClass]="{'button-center': !loggedin}">Udostępnij</a>
      </div>

      <fg-notes [recipe]="recipe" [(notesOpen)]="notesOpen" *ngIf="loggedin"></fg-notes>

      <fg-comments [recipe]="recipe"></fg-comments>

    </div>
  </div>
</div>
