<div class="o-content-wrapper">
  <div class="o-centered">
    <form (submit)="addRecipe()" #addRecipeForm="ngForm">
      <div class="add-recipe">
        <div class="add-recipe__recipe-information">
          <h1 class="o-title o-title--underline">Dodaj przepis</h1>

          <div class="o-btn-wrapper add-recipe__btn-wrapper">
            <button [(disabled)]="!addRecipeForm.form.valid" class="o-btn o-btn--color">Dodaj</button>
          </div>

          <input [(ngModel)]="recipe.title" name="title" class="o-form__input add-recipe__recipe-name" type="text" required placeholder="Nazwa">

          <span class="add-recipe__span-select">
            <select name="add-recipe__recipe-categories" id="add-recipe__recipe-categories" class="add-recipe__recipe-categories u-mark-validation"
                [(ngModel)]="recipe.tags[0]" required placeholder="Kategoria przepisu">
              <option *ngFor="let item of tags" [ngValue]="item">{{ item.name }}</option>
            </select>
            <span class="add-recipe__styled-arrow">&#8595;</span>
          </span>
        </div>

        <div class="add-recipe__ingredients-section">
          <div class="add-recipe__ingredients">
            <h3 class="add-recipe__ingredients-label">Składniki</h3>
            <ul class="add-recipe__ingredients-add-list">
              <li class="add-recipe__ingredient-add" *ngFor="let item of recipe.createIngredientQuantities; let in = index;trackBy:trackByIndex">
                <div class="add-recipe__ingredient-add-box">
                  <label for="add-recipe__add-ingredient-id-{{ in }}">Nazwa:</label>
                  <select name="add-recipe__add-ingredient-id-{{ in }}" id="add-recipe__add-ingredient-id-{{ in }}" class="add-recipe__add-ingredient-id u-mark-validation"
                      [(ngModel)]="recipe.createIngredientQuantities[in].ingredientId" required>
                    <option *ngFor="let item of ingredients" [ngValue]="item.id">{{item.name}}</option>
                  </select>

                  <!--<input type="text" class="add-recipe__add-ingredient-id" name="add-recipe__add-ingredient-id-{{ in }}" [(ngModel)]="recipe.createIngredientQuantities[in].id" >-->
                </div>
                <div class="add-recipe__ingredient-add-box add-recipe__ingredient-add-box--middle">
                  <label for="add-recipe__add-ingredient-amount-{{ in }}">Ilość:</label>
                  <input type="number" class="add-recipe__add-ingredient-amount o-form__input" id="add-recipe__add-ingredient-amount-{{ in }}" name="add-recipe__add-ingredient-amount-{{ in }}" [(ngModel)]="recipe.createIngredientQuantities[in].quantity" required min="0">
                  <span *ngIf="recipe.createIngredientQuantities[in].ingredientId">{{ getUnitName(recipe.createIngredientQuantities[in].ingredientId) }}</span>
                </div>
                <div class="add-recipe__ingredient-add-buttons">
                  <button type="button" (click)="addIngredient(in+1);" class="add-recipe__ingredient-btn ingredient-add-btn">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                  <button type="button" (click)="removeIngredient(in);" class="add-recipe__ingredient-btn ingredient-remove-btn">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
              </li>
            </ul>
          </div>
          <div class="add-recipe__photo-wrapper">

            <div *ngIf="!recipe.imageUrl">
              <image-upload (onFileUploadFinish)="imageUploaded($event)" [url]="uploadUrl" [max]="1" [headers]="uploadHeaders" [buttonCaption]="'Wybierz zdjęcie'" [dropBoxMessage]="'Upuść zdjęcie tutaj'"></image-upload>
              <!--https://www.npmjs.com/package/angular2-image-upload-->
            </div>
            <div *ngIf="recipe.imageUrl">
              <img [src]='recipe.imageUrl | safe' alt="Zdjęcie przepisu">
            </div>
          </div>
        </div>
        <div class="add-recipe__description-wrapper">
          <h3>Opis</h3>
          <textarea class="add-recipe__description u-mark-validation" name="description" [(ngModel)]="recipe.description" required></textarea>
        </div>
      </div>

    </form>
  </div>
</div>
