<div class="comments dropdown">
  <h2 class="comments__title dropdown__title" (click)="changeCommentsState()">
    Komentarze <i class="fa fa-caret-up" [ngClass]="{'open': commentsOpen }"></i>
  </h2>
  <div class="comments__list dropdown__list" [ngClass]="{'open': commentsOpen }">
    <div *ngIf="!recipe.comments">Brak komentarzy...</div>
    <fg-comment-tile
      *ngFor="let comment of recipe.comments; let i = index"
      [comment] = "comment"
      [recipe] = "recipe"
      [commentIndex] = "i"
      [isNew] = '!comment?.text?.length'
    ></fg-comment-tile>

    <a class="o-btn o-btn--color" (click)="addComment()">Dodaj komentarz</a>
  </div>
</div>
