<div class="o-content-wrapper">
  <div class="o-form">
    <span class="o-title o-title--underline">Profil</span>
    <span class="o-subtitle">Zmiana hasła</span>

    <div class="o-form__box">
      <form (ngSubmit)="changePass()" #changePassForm="ngForm">
        <div class="o-form__form-item">
          <label class="o-form__label" for="OldPassword">Hasło:</label>
          <input #password="ngModel" class="o-form__input" id="OldPassword" type="password" name="OldPassword" [(ngModel)]="changePasswordModel.oldPassword" required />
        </div>
        <div class="o-form__form-item">
          <label class="o-form__label" for="NewPassword">Nowe hasło:</label>
          <input #newPassword="ngModel" class="o-form__input" id="NewPassword" type="password" name="NewPassword" [(ngModel)]="changePasswordModel.password" required minlength="10" maxlength="100" />
        </div>
        <div class="o-form__form-item">
          <label class="o-form__label" for="ConfirmPassword">Potwierdź nowe hasło:</label>
          <input #confirmPassword="ngModel" class="o-form__input" id="ConfirmPassword" type="password" name="ConfirmPassword" [(ngModel)]="changePasswordModel.confirmPassword" required minlength="10" maxlength="100" />
        </div>

        <p class="o-form__text-error" *ngIf="newPassword.valid && confirmPassword.valid && changePasswordModel.password != changePasswordModel.confirmPassword">Hasła muszą być takie same</p>
        <p class="o-form__text-error" *ngIf="password.valid && newPassword.valid && changePasswordModel.oldPassword == changePasswordModel.password">Nowe hasło musi być inne</p>

        <input type="submit" value="Zaloguj się" class="o-form__hiddenSubmit" />
      </form>
    </div>

    <div class="o-btn-wrapper">
      <a (click)="logout()" class="o-btn">Wyloguj się</a>
      <button (click)="changePass()" [(disabled)]="!changePassForm.form.valid || changePasswordModel.password != changePasswordModel.confirmPassword" class="o-btn o-btn--color">Zatwierdź</button>
    </div>
  </div>
</div>